// $bg : rgba(255,255,255,0.2);
$bg : hsl(244, 16%, 92% , .6);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(244, 75%, 57%);
    --second-color: hsl(249, 64%, 47%);
    --title-color: hsl(244, 12%, 12%);
    --text-color: hsl(244, 4%, 36%);
    --body-color: hsl(208, 97%, 85%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
  }
/* Responsive typography */
@media screen and (min-width: 1024px) {
    :root {
      --h2-font-size: 1.75rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    // background-color: var(--body-color);
    font-family: var(--body-font);
    color: var(--text-color);
  }
input,
button {
    font-family: var(--body-font);
    border: none;
    outline: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

.header{
    // border: 4px solid red;
    width: 100%;
    height: 100vh;
    background-image: url(../public/images/background.png);
    background-position: center;
    background-size: cover;
    position: relative;
}



.side-nav{
    // border: 4px solid rgb(30, 255, 0);
    width: 110px;
    height: 100%;
    position:fixed;
    top: 0;
    left: 0;
    padding: 25px 15px;
     background: $bg;
     backdrop-filter:blur(5px) ;
     display: flex;
     justify-content: space-between;
     flex-direction: column;
     transition: width 0.5s;
}
.side-nav{
    .user{
        // border: 1px solid red;
        background-color: var(--first-color);
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 60px;
            font-size: 12px;
            padding: 10px;
            border-radius: 8px;
            margin-left: auto;
            margin-right: auto; 
            overflow: hidden;   
            color: #fff;
            div{
                display: none;
            } 
            h2{
                font-size: 15px;
                font-weight: 600;
                white-space: nowrap; 
            }
            .user-img{
                //  border: 2px solid black;
                 width: 40px;
                 border-radius: 50%;
                 margin: auto;
             }
             .star-img{
                width: 20px;
                display: none;
             }
        }

    ul{
        list-style: none;
        padding: 0 15px; 
        li{
            margin: 30px 0;
            // border: 2px solid black;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            img{
                width: 30px;
                margin-right: 0px;
                // border: 2px solid black;
            }
            p{
                white-space: nowrap;
                display: none;
            }
        }

     }  
     &:hover{
        width: 250px;
        // border: 1px solid black;
        .user {
            width: 100%;
            background-color: var(--second-color);
            backdrop-filter: blur(5px);
            div{
                display: block;
            }
            .star-img{
                display: block;
             }
             .user-img{
                margin:0 ;
             }
        }
        ul{
            li{
                p{
                    // border: 1px solid black;
                    display: block;
                }
                img{
                    margin-right:10px ;
                }
                justify-content: flex-start;
            }
        }
     } 
    
}


.container{
    width: calc(100% - 250px);
    // border: 1px solid rgb(225, 0, 255);
    position: absolute;
    right: 0;
    // height: 100vh;
    // display: flex;
    // align-items: center;
}
.login__content,
.login__form,
.login__inputs{
display: grid;
}
.login__content{
    // border: 1px solid red;
    position: relative;
    height: 100vh;
    width: 700px;
    margin: auto;
    align-items: center;
}
.login__form{
    position: relative;
    background-color: hsl(244, 16%, 92% , .6);
    border: 2px solid hsl(244, 16%, 92% , .75);
    margin-inline: 1.5rem;
    row-gap: 1.25rem;
    backdrop-filter: blur(20px);
    padding: 2rem;
    border-radius: 1rem;
}
.login__title{
    color: var(--title-color);
    font-size: var(--h2-font-size);
    margin-bottom: .5rem;
}
.login__title span{
    color: var(--first-color);
}
.login__description{
    font-size: var(--small-font-size);
}
.login__inputs{
    row-gap: .75rem;
    margin-bottom: .5rem;
}
.login__label{
    display: block;
    color: var(--title-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: .25rem;
}
.login__input{
width: 100%;
padding: 14px 12px;
border-radius: 6px;
border: 2px solid var(--text-color);
background-color: hsla(244,16%,92%,.6);
color: var(--title-color);
font-size: var(--smaller-font-size) ;
font-weight: var(--font-medium);
transition: border .4s;
}
.login__input::placeholder{
    color:var(--text-color) ;
}
.login__input:focus,
.login__input:valid{
    border: 2px solid var(--first-color);
}
.login__bx{
    position: relative;
}
.login__bx .login__input{
    padding-right: 36px;
}
.login__eye{
    width: max-content;
    height: max-content;
    position: absolute;
    right: .75rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    font-size: 1.25rem;
    cursor: pointer;
}

.login__check{
    display: flex;
    column-gap: .5rem;
    align-items: center;
}
.login__check-input{
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid var(--text-color);
    background-color: hsla(244,16%,92%,.2);
    border-radius: .25rem;
}
.login__check-input:checked{
    background-color: var(--first-color);
}
.login__check-input:checked::before{
    content:'✔';
    display: block;
    color: #fff;
    font-size: .80rem;
    transform: translate(2px , -2.5px);
}
.login__check-label{
    font-size: var(--small-font-size);
}

.login__buttons{
    display: flex;
    column-gap: .75rem;
}
.login__button{
    width: 100%;
    padding: 14px 2rem;
    border-radius: 6px;
    background: linear-gradient(180deg , var(--first-color), var(--second-color)  );
    color: #fff;
    font-size: small;
    font-weight: var(--font-semi-bold);
    box-shadow: 0 6px 24px hsl(244, 75%, 48% , .5);
    margin-bottom: 1rem;
    cursor: pointer;
}
.login__button-ghost{
    background: hsl(244, 16%, 92% , .6);
    border: 2px solid var(--first-color);
    color: var(--first-color);
    box-shadow: none;
}
.login__forgot{
 font-size: var(--smaller-font-size );
 font-weight: var(--font-semi-bold); 
 color: var(--first-color);
 text-decoration: none;  
}

@media (max-width:955px) {
    .login__content{
        // border: 1px solid red;
        width: 500px;
    }
}
@media (max-width:760px) {
    .login__content{
        // border: 1px solid red;
        width: 400px;
    }
}
@media (max-width:655px) {

    .container{
        width: calc(100% - 110px);
        // border: 1px solid rgb(225, 0, 255);
    }
    .side-nav{
        &:hover{
            width: 110px;
            // border: 1px solid black;
            .user {
                width: 60px;
                div{
                    display: none;
                }
                .star-img{
                    display: none;
                 }
                 .user-img{
                    margin: auto;
                 }
            }
            ul{
                li{
                    p{
                        display: none;
                    }
                    img{
                        margin-right:0px ;
                    }
                    justify-content:center;
                }
            }
         } 
    }
}
@media (max-width:515px){
    .login__content{
        width: 100%;
    }
    .side-nav{
        width: 90px;
        padding: 25px 5px;
    }
    .container{
        width: calc(100% - 90px);
        // border: 1px solid rgb(225, 0, 255);
    }
    .side-nav{
        &:hover{
            width: 90px;
    }
    }  
}
@media (max-width:450px){
    .side-nav{
        width: 60px;
        padding: 25px 2px;
    }
    .container{
        width: calc(100% - 60px);
    }
    .login__content{
        width: 100%;
    }
    .side-nav .user{
        width: 45px;
    }
    .side-nav{
        &:hover{
            width: 60px;
            .user{
                width: 45px;
            }
    }
    } 
}

@media (max-width:420px){
    .login__button{
        // width: 70%;
        // border: 2px solid red;
        padding: 10px 1rem;
        font-size: 12px;
    }

}